{% extends "layouts/base.html" %} 

{% block content %}
<article>
  <div class="parent">
    <header>
    {% include "partials/logo.svg" %}
    </header>
    <div class="side-nav">
        <p>Selected Works</p>
        <nav class="projects">
                <li> <a href="/briefly">As I Was Moving Along, I Saw Brief Glimpses Of Beauty</a></li>
                <li><a href="/">The Real People Went Away</a></li>
        </nav>
      <a class="instagram" href="https://www.instagram.com/__yesh__/">Instagram</a>
      <a class="twitter" href="#">Twitter</a>
    </div>
  {{ content | safe }}
</article>
{% endblock %}