{% extends "layouts/base.html" %} 

{% block content %}
    {% include "partials/sidenav.html" %}

    {% if page.fileSlug == 'real-people' %}
        {% for image in collections.realPeople%}
            <figure><img src="{{image}}" alt="working"></figure>
        {% endfor %}
    {% elif page.fileSlug == 'as-i-was-moving-along' %}
        {% for image in collections.asIWasMovingAlong%}
            <figure><img src="{{image}}" alt="working"></figure>
        {% endfor %}
    {% endif %}
{% endblock %}