:root {
  --metric-sidebar-width: 16rem;
  --metric-gutter: 1.5rem;
  --metric-mini-gutter: 0.8rem;
  --metric-gutter-neg: -1.5rem;
  --metric-mini-gutter-neg: -0.8rem;
  --color-dark: #252525;
  --color-light: #fefefe;
  --color-mid: #999999;
  --color-text: var(--color-dark);
  --color-bg: var(--color-light);
  --color-text-rev: var(--color-light);
  --color-bg-rev: var(--color-dark);
  --font: 'Lato';
  --font-light: 300;
  --font-heavy: 700;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Lato-300-latin2.woff2') format('woff2'),
    url('/fonts/Lato-300-latin2.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Lato-700-latin4.woff2') format('woff2'),
    url('/fonts/Lato-700-latin2.woff') format('woff');
}
